<form novalidate class="simple-form">
    <div class="modal-body" id="modal-body">
        <h3>Assign a project to an employee</h3>
        <br/>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <div class="row">
                        <label>Employee:</label>
                        <select class="form-control" ng-options="item.id as item.firstName + ' ' + item.lastName for item in $ctrl.employeesAndProjects.employees" ng-model="formInfo.employee">
                            <option value="" disabled selected></option>
                        </select>
                    </div>
                    <div class="row">
                        <label>Project:</label>
                        <select class="form-control" ng-options="item.projectName for item in $ctrl.employeesAndProjects.projects" ng-model="formInfo.project">
                            <!--$ctrl.projects.singleSelect-->
                            <option value="" disabled selected></option>
                        </select>
                    </div>
                    <div class="row">
                        <label>Job title:</label>
                        <input type="text" ng-model="formInfo.jobtitle" class="form-control"> <!--$ctrl.assigment.jobTitle-->
                    </div>
                    <div class="row">
                        <label>Location:</label>
                        <input type="text" ng-model="formInfo.location" class="form-control"> <!--$ctrl.assigment.location-->
                    </div>
                    <div class="row">
                        <label>Commitment:</label>
                        <div ng-repeat="item in $ctrl.commitments">
                            {{item.hours}}h from {{item.startDate | date: 'dd-MM-yyyy'}} to {{item.stopDate | date: 'dd-MM-yyyy'}} <!-- Denna skriver ut ENDAST "h from to"-->
                            <button class="glyphicon glyphicon-remove" type="button" ng-click="remove($ctrl.commitments, $index)"></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add a new commitment -->
            <div class="form-group">
                <div class="col-md-6">
                    <h4>Add a new commitment</h4>
                    <!--<div class="form-group">
                        <label for="daterange1" class="control-label">Simple picker</label>
                        <input date-range-picker id="daterange1" name="daterange1" class="form-control date-picker" type="text"
                               ng-model="date" required ng-change="SimplePickerChange();" />
                    </div>-->

                    <!--<div class="row">
                        <label>From</label>
                        <input date-range-picker class="form-control date-picker" type="text" ng-model="commitment.date" required />
                    </div>-->

                    <div class="row">
                        <label>From</label>
                        <input type="date" ng-model="commitment.startDate" class="form-control">
                    </div>
                    <div class="row">
                        <label>To</label>
                        <input type="date" ng-model="commitment.stopDate" class="form-control">
                    </div>
                    <div class="row">
                        <label>Commitment</label>
                        <input type="number" ng-model="commitment.hours" class="form-control">
                    </div>
                    <br />
                    <button class="btn btn-secondary" type="button" ng-click="addCommitment()"> Add </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <button class="btn btn-primary" type="submit" ng-click="assignProjectToEmployee()"> Save </button>
        </div>
    </div>
</form>
