
<div class="modal fade" id="employeeAdd" role="dialog">
    <div class="modal-dialog modal-sm"> 
        <div class="modal-content">
            <div class="modal-body">
                <p class="modalTitle">Add a New Employee</p>
                <form name="form" class="form-group" novalidate>
                    <div class="form-group">
                        <label>
                            First Name:
                            <input class="form-control" type="text" ng-model="employee.firstName" name="uFirstName" required="" />
                        </label>
                        <br />
                        <!--<div ng-show="form.$submitted || form.uFirstName.$touched">
                            <div ng-show="form.uFirstName.$error.required">Tell us your First Name.</div>
                        </div>-->
                        <label>
                            Last Name:
                            <input class="form-control" type="text" ng-model="employee.lastName" name="uLastName" required="" />
                        </label>
                        <br />
                        <!--<div ng-show="form.$submitted || form.uLastName.$touched">
                            <div ng-show="form.uLastName.$error.required">Tell us your Last Name.</div>
                        </div>-->

                        <label>
                            Personal Number(ssn):
                            <input class="form-control" type="text" ng-model="employee.personNr" placeholder="YYYYMMDD-XXXX" name="uPersonNr" required="" />
                        </label>
                        <br />
                        <!--<div ng-show="form.$submitted || form.uPersonNr.$touched">
                            <div class="form-control" ng-show="form.uPersonNr.$error.required">Tell us your Personal Number.</div>
                        </div>-->
                        <label>
                            Select knowledges:
                            <select class="form-control" multiple ng-options="item.knowledgeName for item in $ctrl.knowledges" ng-model="employee.knowledges" name="uKnowledge">
                                <option value="" disabled selected></option>
                            </select>
                        </label>
                        <!--<div ng-show="form.$submitted || form.uKnowledge.$touched">
                            <div class="form-control" ng-show="form.uKnowledge.$error.required">Tell us your knowledge.</div>
                        </div>-->
                        <br />
                        <label>
                            Add a new knowledge:
                            <input class="form-control" type="text" ng-model="$ctrl.knowledges.knowledgeName" name="unewKnowledge" />
                        </label>
                        <button class="btn btn-info" type="button" ng-click="addKnowledges()"> <span class="glyphicon glyphicon-plus"></span></button>
                        <br />
                        <label ng-hide="$ctrl.newKnowledges.length == 0">Added Knowledges:</label>
                        <div ng-repeat="items in $ctrl.newKnowledges">
                            {{items}}
                            <button class="glyphicon glyphicon-remove" type="button" ng-click="remove($ctrl.newKnowledges, $index)"></button>
                        </div>
                        <br /><br />
                        <div>
                            <button class="btn btn-primary" ng-click="addEmployee()">Save</button>
                            <div class="alert alert-danger" ng-hide="alertSave">
                                <strong>Warning!</strong> <span>{{errorMessageSave}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="reload()" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>