
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" ng-app="app-dashboard">
    <navbar></navbar>
    <br />
    <br />
    <br />
    <div class="body-content">
        <div class="container-fluid">
            <div class="mainContainer row">
                <div class="col-md-10">
                    <div class="mainpanel"> 
                        <div ng-view></div> 
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="sidepanel" id="panels">
                        <div class="panelButton" data-toggle="modal" data-target="#projectAdd"><span class="glyphicon glyphicon-edit panelIcons"></span>Add a new project</div>
                        <div class="panelButton" data-toggle="modal" data-target="#employeeAdd"><span class="glyphicon glyphicon-user panelIcons"></span>Add a new Employee</div>
                        <div class="panelButton" data-toggle="modal" data-target="#assignEmployeeToProject"><span class="glyphicon glyphicon-tasks panelIcons"></span>Assign an employee to a project</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <project-add></project-add>
    <employee-add></employee-add>
    <assign-project-to-employee></assign-project-to-employee>

    <footbar></footbar>
</div>

@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/app/app-dashboard.js"></script>
    <script src="~/js/app/app-dashboard.config.js"></script>

    <script src="~/js/app/directives/loader/loaderControl.js"></script>

    <script src="~/js/app/services/repoEmployees.service.js"></script>
    <script src="~/js/app/services/repoProjects.service.js"></script>
    <script src="~/js/app/services/repoClients.service.js"></script>
    <script src="~/js/app/services/repoKnowledges.service.js"></script>
    <script src="~/js/app/services/repoAssignments.service.js"></script>
    <script src="~/js/app/services/repoPhases.service.js"></script>
    <script src="~/js/app/services/repoJobTitles.service.js"></script>
    <script src="~/js/app/services/repoJobTitleAssignments.service.js"></script>

    <script src="~/js/app/components/dashboard-view/dashboard-view.module.js"></script>
    <script src="~/js/app/components/dashboard-view/dashboard-view.component.js"></script>
    <script src="~/js/app/components/footbar/footbar.module.js"></script>
    <script src="~/js/app/components/footbar/footbar.component.js"></script>
    <script src="~/js/app/components/navbar/navbar.module.js"></script>
    <script src="~/js/app/components/navbar/navbar.component.js"></script>

    @*/////////////            PROJECT                  ///////////////////////*@

    <script src="~/js/app/components/project/project-add/project-add.module.js"></script>
    <script src="~/js/app/components/project/project-add/project-add.component.js"></script>

    <script src="~/js/app/components/project/project-details/project-details.module.js"></script>
    <script src="~/js/app/components/project/project-details/project-details.component.js"></script>

    <script src="~/js/app/components/project/project-delete/project-delete.module.js"></script>
    <script src="~/js/app/components/project/project-delete/project-delete.component.js"></script>

    <script src="~/js/app/components/project/project-edit/project-edit.module.js"></script>
    <script src="~/js/app/components/project/project-edit/project-edit.component.js"></script>

    @*/////////////            EMPLOYEE                  ///////////////////////*@

    <script src="~/js/app/components/employee/employee-add/employee-add.module.js"></script>
    <script src="~/js/app/components/employee/employee-add/employee-add.component.js"></script>

    <script src="~/js/app/components/employee/employee-details/employee-details.module.js"></script>
    <script src="~/js/app/components/employee/employee-details/employee-details.component.js"></script>

    <script src="~/js/app/components/employee/employee-edit/employee-edit.module.js"></script>
    <script src="~/js/app/components/employee/employee-edit/employee-edit.component.js"></script>

    <script src="~/js/app/components/employee/employee-delete/employee-delete.module.js"></script>
    <script src="~/js/app/components/employee/employee-delete/employee-delete.component.js"></script>

    @*/////////////            CLIENT                  ///////////////////////*@

    <script src="~/js/app/components/client/client-add/client-add.module.js"></script>
    <script src="~/js/app/components/client/client-add/client-add.component.js"></script>

    @*/////////////            ASSIGNMENT                  ///////////////////////*@

    <script src="~/js/app/components/assignment/assignment-edit/assignment-edit.module.js"></script>
    <script src="~/js/app/components/assignment/assignment-edit/assignment-edit.component.js"></script>

    <script src="~/js/app/components/assignment/assignment-delete/assignment-delete.module.js"></script>
    <script src="~/js/app/components/assignment/assignment-delete/assignment-delete.component.js"></script>


    @*/////////////            PHASE                  ///////////////////////*@

    <script src="~/js/app/components/phase/phase-add/phase-add.module.js"></script>
    <script src="~/js/app/components/phase/phase-add/phase-add.component.js"></script>

    <script src="~/js/app/components/phase/phase-delete/phase-delete.module.js"></script>
    <script src="~/js/app/components/phase/phase-delete/phase-delete.component.js"></script>

    <script src="~/js/app/components/phase/phase-edit/phase-edit.module.js"></script>
    <script src="~/js/app/components/phase/phase-edit/phase-edit.component.js"></script>

    @*/////////////            PANEL3                  ///////////////////////*@
    <script src="~/js/app/components/assignment/assign-project-to-employee/assign-project-to-employee.module.js"></script>
    <script src="~/js/app/components/assignment/assign-project-to-employee/assign-project-to-employee.component.js"></script>

    @*/////////////            ALLPROJECTS                ///////////////////////*@
    <script src="~/js/app/components/project/allproject/all-projects.module.js"></script>
    <script src="~/js/app/components/project/allproject/all-projects.component.js"></script>

    @*/////////////            ALLEMPLOYEES                ///////////////////////*@
    <script src="~/js/app/components/employee/allemployee/all-employees.module.js"></script>
    <script src="~/js/app/components/employee/allemployee/all-employees.component.js"></script>


    @*********************************************@
    @**************  GANTTCHART   ****************@
    @*********************************************@

    <script src="~/js/app/components/project/allproject/gantt.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/moment/locale/sv.js"></script>
} 