
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/app/app-dashboard.js"></script>

    <script src="~/js/app/assign-project-to-employee/assign-project-to-employee.module.js"></script>
    <script src="~/js/app/assign-project-to-employee/assign-project-to-employee.component.js"></script>
    <script src="~/js/app/app-dashboard.config.js"></script>

<div ng-app="app-dashboard">
    <a ng-href="#!/assignProjectToEmployee">Assign a project to an employee</a>
</div>
}
