<form novalidate class="form-group" name="addClientForm"> 
         <div class="row">
            <div class="col-md-6">
                <label>Create a new Client</label>
                 <br />
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" ng-model="addClientForm.clientName" class="form-control">
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input type="text" ng-model="addClientForm.city" class="form-control">
                </div>
                <div class="form-group">
                    <label>Adress</label>
                    <input type="text" ng-model="addClientForm.adress" class="form-control">
                </div>
                <button class="btn btn-primary" type="button" ng-click="addClient()">Save</button>

                <span>{{formInfo}}</span>

            </div> 
        </div>  
</form>

