<div class="container-fluid oneProjectTop">
    <div class="row">
        <div class="col-md-11" ng-repeat="assignment in $ctrl.assignments" ng-if="$first">
            <h4> {{assignment.employee.firstName}} {{assignment.employee.lastName}} </h4>
        </div>
        <div class="col-md-1">
            <div class="bs-selectbox">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                    <span class="glyphicon glyphicon-cog"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a data-toggle="modal" data-target="#projectEdit" ng-click="editProject()">Edit</a></li>
                    <li><a data-toggle="modal" data-target="#deleteProject" ng-click="deleteProject()">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
 
<br /><br />

<div class="container-fluid" ng-repeat="assignment in $ctrl.assignments">
    <div class="row phaseA">
        <div class="col-md-11 phaseInProject">
            <div class="row">
                <div class="col-md-4">{{ assignment.project.projectName }}</div>
                <!--<div class="col-md-4"><span class="glyphicon glyphicon-calendar"></span> {{ commitment.startDate | date:'dd/MM-yyyy'}} - {{ assignment.commitments.stopDate | date:'dd/MM-yyyy'}}</div>
                <div class="col-md-2"><span class="glyphicon glyphicon-time"></span> {{ phase.timeBudget }}h</div>
                <div class="col-md-2"><span class="glyphicon glyphicon-hourglass"></span> {{ phase.progress }}%</div>-->
            </div>
        </div>
        <button class="btn btn-default col-md-1" type="button" data-toggle="collapse" data-target="#{{assignment.project.projectId}}" aria-expanded="false" aria-controls="{{assignment.project.projectId}}">
            <span class="glyphicon glyphicon-triangle-bottom"></span>
        </button>
    </div>
    <br />

    <div class="collapse" id="{{assignment.project.projectId}}">
        <div class="phaseDetailsCollapse">
            <table class="table table-striped" ng-repeat="com in assignment.commitments">
                <tbody>
                    <tr>
                    <td>From: {{com.startDate | date:'dd, MMMM yyyy'}} - To: {{com.stopDate | date:'dd, MMMM yyyy'}}</td>
                    <td>Commitment: {{com.hours}}h</td>
                    <!--<td ng-repeat="jobAssignment in assignment.jobTitleAssignments">Jobtitle: {{jobAssignment.jobTitleAssignmentId}}h</td>-->
                    <td>Location: {{assignment.location}}</td>
                    </tr>
                </tbody>
            </table>
            <!--<a class="btn btn-info" ng-href="#!/phases/phase-edit/{{phase.phaseId}}"> Edit </a>-->
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#editPhase" aria-expanded="false" ng-click="Edit(phase.phaseId, phase.projectId)"> Edit </button>
            <button class="btn btn-danger pull-right" type="button" data-toggle="modal" data-target="#deletePhase" ng-click="Delete(phase.phaseId, phase.projectId)"> Delete </button>
        </div>
    </div>
</div>
 

