
<h3 class="modal-title" id="modal-title">{{projectName}}</h3>
<table>
    <tr class="success" ng-repeat="phase in $ctrl.phases">
        <td>{{ phase.phaseName }}</td>
    </tr>
</table> 

<table class="table">
    <thead>
        <tr>
            <th>Phasename</th> 
            <th>Date</th>
            <th>Timebudget</th>
            <th>Progress</th>
            <th>Button</th>
      </tr>
    </thead>
    <tbody ng-repeat="item in $ctrl.projects">
        <tr> {{ item.phases.phaseName }} </tr> 
    </tbody>
</table>

<!--<button class="btn btn-lg btn-success col-xs-12">
    <span class="glyphicon glyphicon-plus pull-right"></span> Phases
</button>-->

<!-- Fixa one Projects -->




 