
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="panelsModals">
    <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#AddNewProject">Add new project</button>
    <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#ModalAddEmployee">Add a new Employee</button>
    <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#AssignEmployeeToProject">Assign an employee to a project</button>
</div>


