<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-danger" ng-show="holder.errorMessage">{{ holder.errorMessage }}</div>
            <!--<div ng-show="vm.isBusy" class="text-center"><i class="fa fa-spinner fa-spin"></i> Loading...</div>-->
            <loader-cursor display-when="holder.isBusy"></loader-cursor>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <ul class="nav navbar-nav">
                <li><a href="#/">Dashboard</a></li>
                <li><a href="#/employees">Employees</a></li>
                <li><a href="#/projects">Projects</a></li>
                <li><a href="#/assignments">Assignments</a></li>              
            </ul>
           
        </div>
        <div class="col-md-4">
            <h2>Employees</h2>
            <table class="table table-responsive table-striped">
               
                <tr ng-repeat="project in holder.projects">
                    <td>{{ project.projectName }}</td>
                    <td>{{ project.clientId  }}</td>
                    <td>{{ project.client  }}</td>
                    <td>{{ project.startDate | date: 'dd-MM-yyyy' }}</td>
                    <td>{{ project.stopDate  | date: 'dd-MM-yyyy' }}</td>
                    <td>{{ project.timeBudget  }}</td>
                    <td>{{ project.notes  }}</td>
                    <td>{{ project.assignments  }}</td>
                    <td>{{ project.phases  }}</td>
                    <!--<td><a ng-href="#/projects/{{ project.projectId }}" class="btn btn-sm btn-primary">Manage</a></td>-->

                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table table-responsive table-striped">
                <tr ng-repeat="employee in holder.employees">
                    <td>{{ employee.firstName }}</td>
                    <td>{{ employee.lastName  }}</td>
                    <td>{{ employee.personNr  }}</td>
                    <td>{{ employee.imageName  }}</td>
                    <td>{{ employee.imagePath  }}</td>
                    <td>{{ employee.acquiredKnowledge  }}</td>
                    <td>{{ employee.assignments  }}</td>
                    <!--<td><a ng-href="#/employees/{{ employee.employeeId }}" class="btn btn-sm btn-primary">Manage</a></td>-->

                </tr>
            </table>
        </div>
    </div>

</div>