<form name="addPhaseForm"> 
    <div class="form-group">
        <label>Phase name</label>
        <input type="text" name="phasename" ng-model="$ctrl.phase.phaseName" class="form-control" required>
        <div ng-show="addPhaseForm.$submitted || addPhaseForm.phasename.$touched">
            <span ng-show="addPhaseForm.phasename.$error.required">Phase name is required.</span>
        </div>
    </div>
    <div class="form-group">
        <label>From</label>
        <input type="date" ng-model="$ctrl.phase.startDate" class="form-control" name="startdate" ng-change="validateEndDate($ctrl.phase.startDate, $ctrl.phase.endDate)" required>
        <div ng-show="addPhaseForm.$submitted || addPhaseForm.startdate.$touched">
            <span ng-show="addPhaseForm.startdate.$error.required">Start date is required.</span>
        </div>
        <div class="alert alert-danger" ng-show="alert">
            <strong>Warning!</strong> <span>{{errorMessage}}</span>
        </div>
    </div>
    <div class="form-group">
        <label>To</label>
        <input type="date" ng-model="$ctrl.phase.endDate" class="form-control" name="stopdate" ng-change="validateEndDate($ctrl.phase.startDate, $ctrl.phase.endDate)" required>
        <div ng-show="addPhaseForm.$submitted || addPhaseForm.endDate.$touched">
            <span ng-show="addPhaseForm.endDate.$error.required">Start date is required.</span>
        </div>
        <br />
        <div class="alert alert-danger" ng-show="alert">
            <strong>Warning!</strong> <span>{{errorMessage}}</span>
        </div>
    </div>
    <div class="form-group">
        <label>Timebudget</label>
        <input type="number" ng-model="$ctrl.phase.timeBudget" class="form-control" name="timebudget" min="0" max="100" required>
        <div ng-show="addPhaseForm.$submitted || addPhaseForm.timebudget.$touched">
            <span ng-show="addPhaseForm.timebudget.$error.required">Timebudget is required.</span>
        </div>
    </div>
    <button class="btn btn-success" type="button" ng-disabled="alert == true" ng-click="addPhase()"> Add </button>
</form>