<h2 class="text-center">Knowledges</h2>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <td>KnowledgeId</td>
            <td>Description</td>
            <td>KnowledgeName</td>
            <td>AcquiredKnowledges</td>
            
        </tr>
    </thead>
    <tr ng-repeat="knowledge in $ctrl.knowledges">
        <td>{{ knowledge.knowledgeId }}</td>
        <td>{{ knowledge.Description  }}</td>
        <td>{{ knowledge.KnowledgeName  }}</td>
        <td>{{ knowledge.acquiredKnowledges  }}</td>
       
       
        <td><a ng-href="#/knowledge/{{ knowledge.knowledgeId }}" class="btn btn-sm btn-primary">Manage</a></td>

    </tr>
</table>
