<div class="modal fade" id="editPhase" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form name="DeletePhaseForm">
                    <h4>Update {{ $ctrl.phase.phaseName }}</h4>

                    <div class="form-group">
                        <label>Timebudget</label>
                        <input type="number" ng-model="$ctrl.phase.timeBudget" ng-true-value="{{ $ctrl.phase.timeBudget }}" class="form-control" min="0">
                    </div>
                    <div class="form-group">
                        <label>Progress</label>
                        <input type="text" ng-model="$ctrl.phase.progress" value="{{ $ctrl.phase.progress }}" ng-change="validateProgress($ctrl.phase.progress)" class="form-control">
                    </div>
                    <div class="alert alert-danger" ng-show="alertProgress">
                        <strong>Alert!</strong> <span>{{errorMessage}}</span>
                    </div>
                    <div class="form-group">
                        <label>Comment</label>
                        <input type="text" ng-model="$ctrl.phase.comments" value="{{ $ctrl.phase.comments }}" class="form-control">
                    </div> 
                    <div class="form-group">
                        <label>Start</label>
                        <input type="text" ng-model="$ctrl.phase.startDate" value="{{ $ctrl.phase.startDate }}" ng-change="validateEndDate($ctrl.phase.startDate, $ctrl.phase.endDate)" min="2017-01-01" class="form-control">
                    </div>
                    <div class="alert alert-danger" ng-show="alert">
                        <strong>Alert!</strong> <span>{{errorMessage}}</span>
                    </div>
                    <div class="form-group">
                        <label>To</label>
                        <input type="text" ng-model="$ctrl.phase.endDate" value="{{ $ctrl.phase.endDate }}" ng-change="validateEndDate($ctrl.phase.startDate, $ctrl.phase.endDate)" min="2017-01-01" class="form-control">
                    </div>
                    <div class="alert alert-danger" ng-show="alert">
                        <strong>Alert!</strong> <span>{{errorMessage}}</span>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" type="button" ng-disabled="alert === true || alertProgress === true" ng-click="editPhase()"> Save </button>
                <button class="btn btn-danger pull-right" type="button" ng-click="closeModal()"> Cancel </button>
            </div>

        </div>
    </div>
</div>