body {
    color: grey;
    background-color: #eeeeee;
}


.borderless > tbody > tr > td, .borderless > tbody > tr {
    padding-left: 0%;
    padding-right: 0%;
    vertical-align: middle;
    border: hidden;
}


/*div.container.body-content {
    margin-left: 2%;
    margin-right: 2%;
}*/


button:focus {
    outline: 0;
}

/*.table-borderless > tbody > tr,*/
/*.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}*/

.mainpanel {
    background-color: whitesmoke;
    padding: 2%;
    min-height: 453px;
    max-height: 453px;
    /*margin-left: -120px;*/
    /*min-width: 1100px;*/
    overflow-y: scroll;
}

.sidepanel {
    background-color: whitesmoke;
    padding: 2%;
    /*margin-right: -120px;*/
    /*min-width: 15%;*/
}
/*#c2deee; #bedafd*/
.panelButton {
    background-color: #bedafd;
    min-width: 95%;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-right: 5%;
    padding-left: 5%;
    margin-left: 3%;
    margin-right: 2%;
    margin-bottom: 7%;
}

.calendarbutton {
    background-color: #d0d0d0;
    color: whitesmoke;
    border-radius: 4px;
    padding: 2%;
    padding-left: 3%;
    padding-left: 3%;
    border: none;
}

.activebutton {
    background-color: #bedafd;
    color: whitesmoke;
    border-radius: 4px;
    padding: 2%;
    padding-left: 3%;
    padding-left: 3%;
    border: none;
}


/*calendar*/
.cellDate {
    background-color: #eaeaea;
    min-width: 60px;
    text-align: center;
    border-left: 2px solid #f0f0f0;
}

tr > button.glyphicon.glyphicon-chevron-left, button.glyphicon.glyphicon-chevron-right {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #d0d0d0;
    background-color: whitesmoke;
    min-width: 40px;
    padding-left: 8px;
    padding-right: 0px;
    vertical-align: middle;
    border: none;
}

/* project */
.projectName {
    background-color: #eaeaea;
    margin-left: 10%;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.insertButton {
    background-color: #eaeaea;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

    .insertButton > button {
        border: none;
        background: none;
        padding: 8px;
        color: #d0d0d0
    }

/* employee*/
.employee {
    background-color: #b0c0d3;
    border-radius: 4px;
}

.employeeName {
    background-color: whitesmoke;
    padding-left: 30%;
    text-align: right;
    text-
}

/*gannt's cell deadlines*/
.celldiv {
    background-color: #bedafd;
    width: 100%;
    height: 20px;
    font-size: 1%;
}

.projectstartdiv {
    background-color: #d04e4e;
    width: 100%;
    height: 20px;
    margin-left: 10%;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 1%;
}

.projectenddiv {
    background-color: #d04e4e;
    width: 100%;
    height: 20px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 1%;
}

.phasestartdiv {
    background-color: #bef5c1;
    width: 100%;
    height: 30px;
    font-size: 1%;
}

.phaseenddiv {
    background-color: #94c296;
    width: 100%;
    height: 30px;
    font-size: 1%;
}

.comstartdiv {
    background-color: #ddecff;
    width: 100%;
    height: 20px;
    padding-left: 10%;
    margin-left: 10%;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.comenddiv {
    background-color: #ddecff;
    width: 100%;
    height: 20px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 1%;
}

.comdiv {
    background-color: #ddecff;
    width: 100%;
    height: 20px;
    font-size: 1%;
}


.projectAdd {
    border-right: solid 1px #d7d7d7;
    margin-left: 2.5%;
}

.clientAdd {
    margin-left: 2.5%;
}

