

<div class="modal fade" id="editAssignment" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form name="EditAssignmentForm" >
                    <div class="form-group" ng-repeat="jobTitle in $ctrl.assignment.jobTitleAssignments">
                        <label>Job title</label>
                        <input type="text" name="jobtitle" value="{{ jobTitle.jobTitle.titleName }}" class="form-control" ng-model="jobTitle.jobTitle.titleName" required>
                    </div> 

                    <!-- New Job Titles -->
                    <div class="form-group">
                        <label>Select a job title</label>
                        <select class="form-control" ng-options="item.titleName for item in $ctrl.jobTitles" ng-model="formInfo.jobTitles" ng-bind="$ctrl.jobTitles" >
                            <option value="" disabled selected></option>
                        </select>
                    </div>
                    <div class="alert alert-danger" ng-show="alertJobTitle">
                        <strong>Warning!</strong> <span>{{errorMessage}}</span>
                    </div>
                    <div class="form-group">
                        <label>
                            Job title:
                            <input type="text" ng-model="formInfo.jobTitle" class="form-control">
                        </label>
                        <button class="btn btn-info" type="button" ng-click="addJobTitle()"> <span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                    <div class="alert alert-success" ng-show="alertSuccess">
                        <button class="close" data-dismiss="alert" aria-label="close">&times;</button>
                        <strong>Success!</strong> <span>{{successMessage}}</span>
                    </div>
                    <!-- END New Job Titles END -->

                    <div class="form-group">
                        <label>Location</label>
                        <input type="text" name="location" value="{{ $ctrl.assignment.location }}" class="form-control" ng-model="$ctrl.assignment.location" required>
                    </div> 
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" type="button" ng-click="editAssignment()" ng-disabled="alert == true"> Save </button>
                <button class="btn btn-danger pull-right" type="button" data-dismiss="modal" ng-click="closeModal()"> Cancel </button>
            </div>

        </div>
    </div>
</div>