<br />
<br />
<br />
<br />

<div class="ganttpanel">
    <div class="row">
        <div class="col-md-4">
            <p class="colorinfo" id="phasemulti">Multi events</p>
            <p class="colorinfo" id="phasestart">Phase start</p>
            <p class="colorinfo" id="phaseend">Phase end</p>
        </div>
        <div class="col-md-offset-4 col-md-4">
            <div class="row">
                <button type="button" class="calendarbutton" id="weekButton" ng-click="weekButtonClick()">Week</button>
                <button type="button" class="calendarbutton" id="monthButton" ng-click="monthButtonClick()">Month</button>
                <button type="button" class="calendarbutton" id="yearButton" ng-click="yearButtonClick()">Year</button>
            </div>
        </div>
    </div>
    <br />
    <div id="ganttwrapper">
        <div class="table-responsive" id="ganttchart"></div>
    </div>
</div>
