@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>

    <script src="~/js/app/app-dashboard.js"></script>
    @*<script src="~/js/app2/app-dashboard.config.js"></script>*@

    <script src="~/js/app/dashboard-view/dashboard-view.module.js"></script>
    <script src="~/js/app/dashboard-view/dashboard-view.component.js"></script>

    <script src="~/js/app/project/project-list/project-list.module.js"></script>
    <script src="~/js/app/project/project-list/project-list.component.js"></script>

    <script src="~/js/app/employee/employee-list/employee-list.module.js"></script>
    <script src="~/js/app/employee/employee-list/employee-list.component.js"></script>

    <script src="~/js/app/assignment/assignment-list/assignment-list.module.js"></script>
    <script src="~/js/app/assignment/assignment-list/assignment-list.component.js"></script>
    <script src="~/js/app/app-dashboard.config.js"></script>

}
<div ng-app="app-dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav navbar-nav">
                    
                    <li><a ng-href="#!/dashboard">Dashboard</a></li>
                    <li><a ng-href="#!/employees">Employees</a></li>
                    <li><a ng-href="#!/projects">Projects</a></li>
                    <li><a ng-href="#!/assignments">Assignments</a></li>
                </ul>
            </div>
            <div class="col-lg-10" ng-view>
           </div>
           
        </div>
    </div>
</div>
