@section Scripts {
    @*<script src="~/lib/underscore/underscore-min.js"></script>*@
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>  
    
    <script src="~/js/app/app-dasboard.module.js"></script>
    <script src="~/js/app/app-dashboard.config.js"></script>
    <script src="~/js/app/loader/loaderControl.js"></script>

    <script src="~/js/app/employeeList/employee-list.module.js"></script>
    <script src="~/js/app/controllers/employeesController.js"></script>
    <script src="~/js/app/employeeList/employee-list.component.js"></script>
    

    @*<script src="~/js/app/projectList/project-list.module.js"></script>
    <script src="~/js/app/controllers/projectsController.js"></script>
    <script src="~/js/app/projectList/project-list.component.js"></script>
    

    <script src="~/js/app/assignmentList/assignment-list.module.js"></script>
<script src="~/js/app/controllers/assigmentsController.js"></script>
    <script src="~/js/app/assignmentList/assignment-list.component.js"></script>*@
    
}
<div class="container">
    <div class="row" ng-app="app-dashboard">
        <div ng-view></div>
    </div>
</div>