@section Scripts {
    @*<script src="~/lib/underscore/underscore-min.js"></script>*@
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    
    <script src="~/js/app-dashboard.js"></script>
    <script src="~/js/controllers/assigmentsController.js"></script>
    <script src="~/js/controllers/dashboardController.js"></script>
    <script src="~/js/controllers/employeesController.js"></script>
    <script src="~/js/controllers/loaderControl.js"></script>
    <script src="~/js/controllers/projectsController.js"></script>
}
<div class="container">
    <div class="row" ng-app="app-dashboard">
        <div ng-view></div>
    </div>
</div>