<link href="~/css/allProject.css" rel="stylesheet" type="text/css" />

<div ng-app="app-dashboard">
    @*<a ng-href="#!/projects/project-details/2">One Project Details</a>*@
    <div ng-view></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="mainpanel">
                    <div class="row">
                        <div class="col-md-3">
                            <button type="button" class="calendarbutton">Archive</button>
                            <button type="button" class="activebutton">Active</button>
                        </div>
                        <div class="col-md-offset-6 col-md-3">
                            <div class="row">
                                <button type="button" class="activebutton">Days</button>
                                <button type="button" class="calendarbutton">Weeks</button>
                                <button type="button" class="calendarbutton">Months</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <br />
                        <div class="table-responsive" id="ganttchart"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sidepanel">
                    <div id="panels">
                        <br />
                        <button type="button" class="btn panelButton" data-toggle="modal" data-target="#projectAdd">Add a new project</button>
                        <button type="button" class="btn panelButton" data-toggle="modal" data-target="#employeeAdd">Add a new Employee</button>
                        <button type="button" class="btn panelButton" data-toggle="modal" data-target="#assignEmployeeToProject">Assign an employee to a project</button>
                    </div>
                </div>
            </div>
        </div>
        <all-projects></all-projects>
    </div>

    

<project-add></project-add>
<employee-add></employee-add>

    <!-- Panel3: Assign an employee to a project -->
    <div class="modal fade" id="assignEmployeeToProject" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <assign-project-to-employee></assign-project-to-employee>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/lib/angular-resource/angular-resource.min.js"></script>
    <script src="~/lib/ng-file-upload-shim/ng-file-upload-shim.min.js"></script>
    <script src="~/lib/ng-file-upload-shim/ng-file-upload.min.js"></script>
    <script src="~/lib/angular-modal-service/dst/angular-modal-service.js"></script>

    @*////////*@
    <script src="~/js/app/app-dashboard.js"></script>
    <script src="~/js/app/app-dashboard.config.js"></script>


    <script src="~/js/app/services/repoEmployees.service.js"></script>
    <script src="~/js/app/services/repoProjects.service.js"></script>
    <script src="~/js/app/services/repoClients.service.js"></script>
    <script src="~/js/app/services/repoKnowledges.service.js"></script>
    <script src="~/js/app/services/repoAssignments.service.js"></script>
    <script src="~/js/app/services/repoPhases.service.js"></script>

    <script src="~/js/app/dashboard-view/dashboard-view.module.js"></script>
    <script src="~/js/app/dashboard-view/dashboard-view.component.js"></script>

    @*/////////////            PROJECT                  ///////////////////////*@

    <script src="~/js/app/project/project-list/project-list.module.js"></script>
    <script src="~/js/app/project/project-list/project-list.component.js"></script>

    <script src="~/js/app/project/project-add/project-add.module.js"></script>
    <script src="~/js/app/project/project-add/project-add.component.js"></script>

    <script src="~/js/app/project/project-details/project-details.module.js"></script>
    <script src="~/js/app/project/project-details/project-details.component.js"></script>

    <script src="~/js/app/project/project-delete/project-delete.module.js"></script>
    <script src="~/js/app/project/project-delete/project-delete.component.js"></script>


    @*/////////////            EMPLOYEE                  ///////////////////////*@

    <script src="~/js/app/employee/employee-list/employee-list.module.js"></script>
    <script src="~/js/app/employee/employee-list/employee-list.component.js"></script>

    <script src="~/js/app/employee/employee-add/employee-add.module.js"></script>
    <script src="~/js/app/employee/employee-add/employee-add.component.js"></script>

    @*/////////////            ASSIGNMENT                  ///////////////////////*@

    <script src="~/js/app/assignment/assignment-list/assignment-list.module.js"></script>                           @*Delete?*@
    <script src="~/js/app/assignment/assignment-list/assignment-list.component.js"></script>                        @*Delete?*@

    @*/////////////            ACQUIRED KNOWLEDGE                  ///////////////////////*@

    <script src="~/js/app/acquiredKnowledge/acquiredKnowledge-list/acquiredKnowledge-list.module.js"></script>      @*Delete?*@
    <script src="~/js/app/acquiredKnowledge/acquiredKnowledge-list/acquiredKnowledge-list.component.js"></script>   @*Delete?*@

    @*/////////////            CLIENT                  ///////////////////////*@

    <script src="~/js/app/client/client-list/client-list.module.js"></script>                                       @*Delete?*@
    <script src="~/js/app/client/client-list/client-list.component.js"></script>                                    @*Delete?*@

    <script src="~/js/app/client/client-add/client-add.module.js"></script>                                         @*Delete?*@
    <script src="~/js/app/client/client-add/client-add.component.js"></script>                                      @*Delete?*@

    @*/////////////           COMMITMENT                  ///////////////////////*@

    <script src="~/js/app/commitment/commitment-list/commitment-list.module.js"></script>                           @*Delete?*@
    <script src="~/js/app/commitment/commitment-list/commitment-list.component.js"></script>                        @*Delete?*@

    @*/////////////            KNOWLEDGE                  ///////////////////////*@

    <script src="~/js/app/knowledge/knowledge-list/knowledge-list.module.js"></script>                              @*Delete?*@
    <script src="~/js/app/knowledge/knowledge-list/knowledge-list.component.js"></script>                           @*Delete?*@

    @*/////////////            PHASE                  ///////////////////////*@

    <script src="~/js/app/phase/phase-list/phase-list.module.js"></script>
    <script src="~/js/app/phase/phase-list/phase-list.component.js"></script>

    <script src="~/js/app/phase/phase-add/phase-add.module.js"></script>
    <script src="~/js/app/phase/phase-add/phase-add.component.js"></script>

    <script src="~/js/app/phase/phase-delete/phase-delete.module.js"></script>
    <script src="~/js/app/phase/phase-delete/phase-delete.component.js"></script>

    <script src="~/js/app/phase/phase-edit/phase-edit.module.js"></script>
    <script src="~/js/app/phase/phase-edit/phase-edit.component.js"></script>

    @*/////////////            LOCATION                  ///////////////////////*@

    <script src="~/js/app/location/location-list/location-list.module.js"></script>
    <script src="~/js/app/location/location-list/location-list.component.js"></script>

    <script src="~/js/app/task/task-list/task-list.module.js"></script>
    <script src="~/js/app/task/task-list/task-list.component.js"></script>

    @*/////////////            PANEL3                  ///////////////////////*@
    <script src="~/js/app/assign-project-to-employee/assign-project-to-employee.module.js"></script>
    <script src="~/js/app/assign-project-to-employee/assign-project-to-employee.component.js"></script>

    @*/////////////            ALLPROJECTS                ///////////////////////*@
    <script src="~/js/app/allproject/all-projects.module.js"></script>
    <script src="~/js/app/allproject/all-projects.component.js"></script>



    @*********************************************@
    @**************  GANTTCHART   ****************@
    @*********************************************@

    <script src="~/lib/moment/moment.js"></script>

   
   
}








