<div class="row">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-href="#!/dashboard">Sigma</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a ng-href="#!/dashboard">Dashboard</a></li>
                    <li><a ng-href="#!/projects">Projects</a></li>
                    <li><a ng-href="#!/employees">Employees</a></li>
                    <li><a ng-href="#!/assigments">More</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!--<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="navbar-brand pull-left text-uppercase">Sigma</a>
        </div>
        <div navbar-left>
            <a class="navbar-brand pull-right" asp-controller="Dashboard" asp-action="Login"><span class="btn btn-default">Login</span></a>
        </div>
    </div>
</nav>
<nav class="navbar navbar-default navbar-static-top navbar2">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ng-href="#!/dashboard">Dashboard</a></li>
                <li><a ng-href="#!/employees">Employees</a></li>
                <li><a ng-href="#!/projects">Projects</a></li>

            </ul>
        </div>
    </div>
</nav>-->