

<div class="modal fade" id="projectEdit" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form name="EditPhaseForm">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="projectname" ng-model="$ctrl.project.projectName" value="{{$ctrl.project.projectName}}" class="form-control" required>
                        <div ng-show="addProjectForm.$submitted || addProjectForm.projectname.$touched">
                            <span ng-show="addProjectForm.projectname.$error.required">Project name is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Start</label>
                        <input type="text" ng-model="$ctrl.project.startDate" class="form-control" name="stopdate" value="{{ $ctrl.project.startDate }}">
                    </div>
                    <div class="form-group">
                        <label>End</label>
                        <input type="text" ng-model="$ctrl.project.stopDate" class="form-control" name="stopdate" value="{{ $ctrl.project.stopDate }}">
                    </div>
                    <div class="form-group">
                        <label>Timebudget</label>
                        <input type="number" ng-model="$ctrl.project.timeBudget" class="form-control" name="timebudget" required>
                        <div ng-show="addProjectForm.$submitted || addProjectForm.timebudget.$touched">
                            <span ng-show="addProjectForm.timebudget.$error.required">Timebudget is required.</span>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label>Comments</label>
                        <input type="text" ng-model="$ctrl.project.notes" class="form-control">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" type="button" ng-click="editProject()"> Save </button>
                <button class="btn btn-danger pull-right" type="button" data-dismiss="modal"> Cancel </button>
            </div>

        </div>
    </div>
</div>