<div class="modal fade" id="projectAdd" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content"> 
            <div class="modal-body">
                <p class="modalTitle">Create a new Project</p>
                 <form novalidate name="addProjectForm">
                    <div class="row">
                        <div class="col-md-5 modalDevider">
                            <br />
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" name="projectname" ng-model="$ctrl.project.projectName" class="form-control" required>
                                <div ng-show="addProjectForm.$submitted || addProjectForm.projectname.$touched">
                                    <span ng-show="addProjectForm.projectname.$error.required">Project name is required.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>From</label>
                                <input type="date" ng-model="$ctrl.project.startDate" class="form-control" name="startdate" ng-change="validateEndDate($ctrl.project.startDate, $ctrl.project.stopDate)" min="2017-12-01" required>
                                <div ng-show="addProjectForm.$submitted || addProjectForm.startdate.$touched">
                                    <span ng-show="addProjectForm.startdate.$error.required">Start date is required.</span>
                                </div>
                                <div class="alert alert-danger" ng-hide="alert">
                                    <strong>Warning!</strong> <span>{{errorMessage}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>To</label>
                                <input type="date" ng-model="$ctrl.project.stopDate" class="form-control" name="stopdate" ng-change="validateEndDate($ctrl.project.startDate, $ctrl.project.stopDate)" min="2017-12-01" required>
                                <div ng-show="addProjectForm.$submitted || addProjectForm.stopdate.$touched">
                                    <span ng-show="addProjectForm.stopdate.$error.required">Start date is required.</span>
                                </div> 
                                <div class="alert alert-danger" ng-hide="alert">
                                    <strong>Warning!</strong> <span>{{errorMessage}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Timebudget</label>
                                <input type="number" ng-model="$ctrl.project.timeBudget" class="form-control" name="timebudget" required>
                                <div ng-show="addProjectForm.$submitted || addProjectForm.timebudget.$touched">
                                    <span ng-show="addProjectForm.timebudget.$error.required">Timebudget is required.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Client:</label>
                                <select class="form-control" ng-options="item.clientName for item in $ctrl.employeesAndClients.clients" ng-model="addProjectForm.clients" name="client" required>
                                    <option value="" disabled selected></option>
                                </select>
                                <div ng-show="addProjectForm.$submitted || addProjectForm.client.$touched">
                                    <span ng-show="addProjectForm.client.$error.required">Client is required.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Employee:</label>
                                <select class="form-control" multiple ng-options="item.employeeId as item.firstName + ' ' + item.lastName for item in $ctrl.employeesAndClients.employees" ng-model="addProjectForm.employees" name="employee" required></select>
                                <div ng-show="addProjectForm.$submitted || addProjectForm.employee.$touched">
                                    <span ng-show="addProjectForm.employee.$error.required">Employees is required.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Comments</label>
                                <input type="text" ng-model="$ctrl.project.notes" class="form-control">
                            </div>
                            <button class="btn btn-primary" type="button" ng-click="addProject()">Save</button>

                        </div>
                        <div class="col-md-6 modalDeviderMargin">
                            <client-add></client-add>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


