<br />
<br />
<br />
<br />

<div class="ganttemppanel">
    <div class="row">
        <div class="col-md-offset-9 col-md-3">
            <div class="row">
                <button type="button" class="calendarbutton" id="weekButton" ng-click="weekButtonClick()">Weeks</button>
                <button type="button" class="calendarbutton" id="monthButton" ng-click="monthButtonClick()">Months</button>
            </div>
        </div>
    </div>
    <br />
    <div class="table-responsive" id="ganttchart"></div>
</div>