<h3 class="text-center">Phases</h3>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <td>PhaseName</td>
            <td>ProjectId</td>
            <td>Project</td>
            <td>projectId</td>            
            <td>Comments</td>
            <td>Tasks</td>            
        </tr>
    </thead>
    <tr ng-repeat="phase in $ctrl.phases">
        <td>{{ phase.phaseName }}</td>
        <td>{{ phase.projectId  }}</td>
        <td>{{ phase.project  }}</td>
        <td>{{ phase.projectId  }}</td>
        <td>{{ phase.comments  }}</td>
        <td>{{ phase.tasks  }}</td>
       
        <td><a ng-href="#/phases/{{ phase.phaseId }}" class="btn btn-sm btn-primary">Manage</a></td>

    </tr>
</table>
